@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.RegisterMain{
    background-image: url("../../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.RegisterBody{
    width: 480px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 40px 40px;

}
.RegisterBody h1{
    font-size: 70px;
    color: #c5bf5e;
    text-shadow: 0 5px black;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 10px;
}

.RegisterBody h2{
    font-size: 50px;
    color: #fd343b;
    text-shadow: 0 5px black;
    text-align: center;
    font-family: 'Lobster', sans-serif;
}

.RegisterBody .inputBox {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputBox {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #c5bf5e;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
    color: #c5bf5e;
}

.RegisterBody .button{
    width: 100%;
    height: 45px;
    background: #c5bf5e;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
;
}

.RegisterBody .loginLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.loginLink p {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.loginLink NavLink{
    text-decoration: underline;
    color: crimson;
}


